<header>
	<nav class="header-nav">
		<a class="header-title" href="/">Keeper's Repository</a>
		<ul>
			<li><a href="/teams">Teams</a></li>
			<li><a href="/monsters">Monsters</a></li>
			<li><a href="/teams/new">New Team</a></li>
			<li><a href="/monsters/new">New Monster</a></li>
		</ul>
	</nav>
</header>