<header>
	<nav class="header-nav">
		<a class="header-title" href="/">Keeper's Repository</a>
		<ul>
			<li><a href="/monsters">Monsters</a></li>
			<li><a href="/builds/new">New Build</a></li>
			<li><a href="/builds">Builds</a></li>
		</ul>
	</nav>
</header>