<div class="skill <%= skill.isActive ? 'skill-active' : '' %> ">
  <img class="skill-img" src="../images/skills/<%= skill.name.replace(/ /g, '').toLowerCase() %>.png" alt="<%= skill.name %>">
  <input type="checkbox" class="skill-checkbox" data-preReqs="<%= skill.preReqs %>">
</div>