<div class="skill <%= skill.isActive ? 'skill-active' : '' %> ">
  <img class="skill-img" 
       src="<%= skill.skill?.iconImagePath %>" 
       alt="<%= skill.name %>"
       style="<%= on ? 'opacity: 100%;' : 'opacity: 50%' %>">
</div>