<div class="skill-tree-container">
  <div class="skill-trees-container">
    <% for (let treeNum = 0; treeNum < monster.skills.trees.length; treeNum++) { %>
      <div class="skill-tree">
        <% for (let levelNum = 0; levelNum < monster.skills.trees[treeNum].skills.length; levelNum++) { %> 
          <div class="skill-tree-level">
            <% for(let skillNum = 0; skillNum < monster.skills.trees[treeNum].skills[levelNum].length; skillNum++) { %>
              <% if (editable) { %>
                <%- include('skillCheckbox.ejs', { skill: monster.skills.trees[treeNum].skills[levelNum][skillNum], isUltimate: false, id: `skill${treeNum}${levelNum}${skillNum}` })%>
              <% } else { %>
                <%- include('skillImage.ejs', { skill: monster.skills.trees[treeNum].skills[levelNum][skillNum] })%>
              <% } %>
            <% } %>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>
  <div class="skill-tree-level skill-ultimates-container">
    <% monster.skills.ultimates.forEach(ult => { %>
      <% if (editable) { %>
        <%- include('skillCheckbox.ejs', { skill: ult, isUltimate: true, id: '' })%>
      <% } else { %>
        <%- include('skillImage.ejs', { skill: ult })%>
      <% } %>
    <% }) %> 
  </div>
</div>