<h2>Create Gear</h2>
<form action="/createGear" method="POST">
  <select name="gear">
    <option value="Cape">Cape</option>
    <option value="Coat">Coat</option>
    <option value="Gauntlet">Gauntlet</option>
    <option value="Harp">Harp</option>
    <option value="Scythe">Scythe</option>
  </select>
  <button type="submit">Create Gear</button>
</form>
<form action="/createFood" method="POST">
  <button type="submit">Create Food</button>
</form>