<h2>Keeper's Repository</h2>
<p style="width: 70%;">Keeper's Repository (working title) is a small project with the aim of creating 
  a website where Monster Sanctuary players can create and share monster and team builds. Current version: 0.1.0 - First Test Version.
  Please feel free to <a href="builds/new">create a build</a> or <a href="builds">view recent builds</a>. Reminder: we 
  are early in development so there <strong>will</strong> be wipes.</p>
<h3>Recent Builds</h3>
<%- include('partials/buildList.ejs', { builds: builds })%>