<h2>Initialize Database</h2>
<form action="/initialize/skills" method="post">
  <input type="submit" value="Initialize Skills">
</form>
<form action="/initialize/monsters" method="post">
  <input type="submit" value="Initialize Monsters">
</form>
<form action="/initialize/gear" method="post">
  <input type="submit" value="Initialize Gear">
</form>
<form action="/initialize/food" method="post">
  <input type="submit" value="Initialize Food">
</form>