@import 'shared/monsterDisplay.css';
@import 'shared/monsterEdit.css';

:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

*, *::before, *::after {
  box-sizing: border-box;
}