.build-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 69em;
  font-size: 0.8rem;
}

.build-container-right {
  max-width: 40%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.build-container-right-middle {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.5em;
}

.build-container-gear {
  padding-right: 0.5em;
}

.container-input {
  display: flex;
  flex-direction: column;
}

.shift-passive-description {
  font-size: 0.9em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.container-weapon-select, 
.container-accessory-select {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container-input-and-label {
  display: flex;
  flex-direction: column;
  min-width: 80%;
}

.gear-level-number {
  min-width: 20%;
  max-height: 1.5em;
  align-self: flex-end;
}

.container-additional-options {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.2em;
}

.container-level-select {
  max-width: 12%;
}

.monster-form-submit {
  align-self: flex-end;
}

.skill-img-editable {
  opacity: 50%;
}

.skill-tree-container {
  max-width: 60%;
  min-width: 200px;
  margin: 0px;
  padding: 0.5em;
}