.build-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.build-container-left {
  max-width: 35%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.build-container-left-middle {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.container-food-select {
  padding-top: 0.5em;
}

.skill-img-editable {
  opacity: 50%;
}

.skill-tree-container {
  max-width: 65%;
  min-width: 200px;
  margin: 0px;
  padding: 0.5em;
}

.container-input {
  display: flex;
  flex-direction: column;
}

.container-additional-options {
  display: flex;
  flex-wrap: wrap;
}