.stat-container {
  display: flex;
}

.stat-pip-container {
  display: flex; 
  margin-left: 0.5em;
}

.stat-pip {
  width: .5em; 
  height: 1em; 
  background-color: rgb(243, 243, 217); 
  border: 1px solid black;
  margin-left: 0.2em;
}

.stat-pip-gap {
  margin-right: 0.2em;
}

.stat-pip-light {
  background-color: yellow;
}

.stat-pip-dark {
  background-color: rgb(138, 61, 138);
}

.skill-tree-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.skill-trees-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  min-width: 180px;
}

.skill-tree {
  display: flex;
  flex-direction: column;
  background-color: #dfdfdf;
  border: 1px solid black;
  margin: 0.5em;
  padding: 0.5em;
}

.skill-tree-level {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border: 1px solid black;
  padding: 0.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  min-height: 2em;
}

.skill-ultimates-container {
  background-color: #dfdfdf;
  max-width: 7em;
  height: 1.8em;
  border: 1px solid black;
  align-self: center;
}

.skill {
  width: 1.5em;
  height: 1.5em;
  background-color: white;
  flex-shrink: 0;
}

.skill-img {
  width: 100%;
}

.skill-checkbox, .skill-checkbox-ultimate {
  position: relative;
  width: 100%;
  height: 100%;
  top: -2.35em;
  left: -0.28em;
  opacity: 0;
}

.skill-description-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 0.5em;
  color: #dfdfdf;
  font-size: 0.7em;
  padding: 0.5em;
  position: sticky;
  bottom: 0;
}

.skill-description-text > p {
  padding-left: 0.5em;
  margin: 0;
}

.skill-description > .skill {
  font-size: 1.4em;
}