<% if (monster != null) { %>
  <h2>New <%= monster.name %></h2>
  <%- include('../partials/buildMonster.ejs', { monster: monster, isNew: true })%>
<% } else { %>
  <h2>New Build</h2>
  <form action="/builds/new" method="GET">
    <select name="monster">
      <% monsterNames.forEach(name => { %>
        <option value="<%= name %>"><%= name %></option>
      <% }) %> 
    </select>
    <button type="submit">Build Monster</button>
  </form>
<% } %>