<h2>Create Monster</h2>
<form action="/monsters/create" method="POST">
  <select name="monster">
    <option value="Argiope">Argiope</option>
    <option value="Blob">Blob</option>
  </select>
  <button type="submit">Make Monster</button>
</form>